<link rel="stylesheet" href="/public/style.css">
<div id="div">
    <input type="text" id="input" size=20 placeholder="Search a composer .."/>
    <button id="button">fetch</button>
    <br>
    <ul>
    <% if (typeof(composers) !== 'undefined') {
        for (const composer of composers) { %>
            <li><a href="work_composer=<%=composer.id%>"><%=composer.name%></a></li>
        <% } %>
    <% } %>
    </ul>
</div>
<script src="/public/scripti.js"></script>